nav {
  background-color: #282c34;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

nav a, nav span {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

nav button {
  background: #ff5722;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  margin-left: 15px;
}

div {
  text-align: center;
  margin-top: 50px;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
}

input, button {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}
